.box-shadow {
    text-align: center  ;
    background: #FFFFFF;
    box-shadow: 0px 8px 12px rgba(34, 43, 61, 0.15);
    border-radius: 53px;
}

#ecosystem .box-shadow {
    height: 800px;
}

.social-icons {
	width: 100%;
	display: block;
	overflow: hidden;
	text-align:right;
}

.social-icons ul {
	margin:0px;
	padding:0px;
}

.social-icons ul li {
	list-style:none;
	display:inline-block;
}

.social-icons ul li a {
	color: #A7A4A4;
	margin-right:10px;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons ul li a:hover {
	color: #49C5CD !important;
}

.social-icons {
	text-align: center !important;
}
.social-icons ul li a {
	color: rgba(34, 65, 125, 0.9) !important;
	font-size: 32px !important;
	margin-left: 16px;
	margin-right: 16px;
}
.social-icons ul li a {
	font-size: 32px !important;
}

.test {
    z-index: 100;
    overflow: hidden;
    height: 62.4rem;
    margin-top: calc((62.4rem/2) * -1);
    background-image: url(../images/mascot/UniLion\ -\ Mascot-Laptop\ Transparent.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
  }