section {
    text-align: center !important;
}

.home-content .home-content__main {
    text-align: center !important;
}

.secondary-title {
    font-weight: 100 !important;
}

.mascot-main {
    width: 40%;
}

.home-content h3 {
    margin-top: 0;
}

.home-content {
    padding-top: 150px !important;
}

.home-content__btn-wrap {
    margin-top: 36px !important;
}

.primary {
    color: rgba(34, 65, 125, 0.9) !important;
}
.primary-sm {
    color: rgba(34, 65, 125, 0.9) !important;
    font-size: xx-large !important;
}

.secondary {
    color: white !important;
}

.s-header, .s-footer {
    background-color: radial-gradient(50% 50% at 50% 50%, rgba(34, 65, 125, 0.9) 0%, rgba(9, 41, 103, 0.9) 100%) !important;
}
.s-header .site-logo {
    width: 45px !important;
    height: 34px !important;
}

#platform {
    padding-bottom: 100px !important;
}

#roadmap {
    padding-top: 100px !important;
    /* padding-bottom: 100px !important; */
}

#parters .last-row {
    margin-bottom: 15% !important;
}

#parters {
    padding-top: 100px !important;
    margin-bottom: 15% !important;
}

#roadmap .col-block {
    height: 550px;
    line-height: 2;
}

#lionomics {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#about, #lionomics {
    background-color: white !important;
}

.s-features {
    background-color: white !important;
}

#ecosystem, #partners, #platform, #about {
    padding-top: 100px !important;
}

#about-how {
    padding-bottom: 0 !important;
}

#ecosystem .col-block {
    margin-bottom: 20px !important;
}
#roadmap .col-block {
    margin-bottom: 20px !important;
}

/* for RHS text */
#platform .img-text-right .col-block:nth-child(1) {
    width: 33.33% !important;
    margin-bottom: 20px !important;
}
#platform .img-text-right .col-block:nth-child(2) {
    width: 50% !important;
    margin-left: 10% !important;
}
#platform.mobile .img-text-right .col-block {
    width: auto !important;
    margin-left: auto !important;
}
/* for LHS text  */
#platform .img-text-left .col-block:nth-child(1) {
    width: 50% !important;
    margin-right: 10% !important;
}
#platform .img-text-left .col-block:nth-child(2) {
    width: 33.33% !important;
    margin-bottom: 20px !important;
}
#platform.mobile .img-text-left .col-block {
    width: auto !important;
    margin-right: auto !important;
}

.img-text-text {
    text-align: left !important;
}
.mobile .img-text-text {
    text-align: center !important;
}

#roadmap .item-feature__text {
    padding-top: 10% !important;
    padding-left: 10% !important;
}

#ecosystem .item-feature__text {
    padding-top: 10% !important;
    padding: 5% !important;
}


#partners .logos {
    padding-top: 50px !important;
}
#partners.mobile .logos {
    padding-top: 0 !important;
}
#partners .logos.last-row {
    margin-top: 0 !important;
    margin-bottom: 15% !important;
}
#partners .logos .col-block {
    margin-bottom: 20px !important;
}

#ecosystem .row img {
    width: 50% !important;
    padding-top: 25% !important;
}

.video-bg {
  background-image: url(../images/mascot/UniLion\ -\ Mascot-Rocket.png) !important;
  border-radius: 7% !important;
}

#about, #lionomics, #footer {
    background: radial-gradient(50% 50% at 50% 50%, rgba(34, 65, 125, 0.9) 0%, rgba(9, 41, 103, 0.9) 100%);
}

header.sticky {
    background: radial-gradient(50% 50% at 50% 50%, rgba(34, 65, 125, 0.9) 0%, rgba(9, 41, 103, 0.9) 100%);
}

header, #home {
    background: #F7F7F7;
}

#filler .mascot {
    width: 20% !important;
}
#filler.mobile .mascot {
    width: 40% !important;
}

.s-header .header-nav-wrap .header-main-nav li a {
    color: #092967 !important;
}
.s-header.sticky .header-nav-wrap .header-main-nav li a {
    color: white !important;
}

.s-header .regular-banner {
    display: none !important;
}
.s-header.sticky .regular-banner {
    display: inline-block !important;
}

.s-header .blue-banner {
    display: inline-block !important;
}
.s-header.sticky .blue-banner {
    display: none !important;
}

p.lead {
    font-size: 2rem !important;
}
