.secondary {
	color: #f8dfbe;
}
.primary {
	color: #6F3E0F;
}
.background-primary {
	background-color: #6F3E0F;
}

.micro {
	font-size: 16px;
	font-weight: 200;
	margin: 30px 0px 0px;
	text-transform: uppercase;
	font-weight: 600;
}

.fee-breakdown-figure {
  font-weight: 800;
  font-size: 80px;
}

.btn-green-hover:hover {
	background:#6F3E0F !important;
	border-color: #6F3E0F !important;
	color:#FFF !important;
}

.primary-important {
	color: #6F3E0F !important;
}

.social-icons {
	text-align: center !important;
}
.main-banner .social-icons ul li a {
	color: #6F3E0F !important;
	font-size: 32px !important;
	margin-left: 16px;
	margin-right: 16px;
}
.social-icons ul li a {
	font-size: 32px !important;
}

.mascot-main {
		display: block;
		margin-left: auto;
		margin-right: auto;
		left: 16px;
		width: 100% !important;
		height: 100% !important;
		max-width: 500px !important;
		top: -40px !important;
		position: relative;
}

.mascot-laptop {
	display: block;
	width: 100% !important;
	height: 100% !important;
	max-width: 500px !important;
	top: -40px !important;
	position: relative;
}

.main-banner {
	top: -180px;
    position: relative;
}

.main-banner a.btn {
	width: 140px !important;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0;
}

#home {
	background-color: #f8dfbe;
}

#partners {
	background-color: #6F3E0F !important;
}
#whyus {
	background-color: #6F3E0F !important;
}

#tokenomics {
	background-color: #f8dfbe;
	padding: 150px 0px 100px;
}

#roadmap {
	background-color: #f8dfbe;
}

#howToBuy .tab2-services-box {
	border-radius: 30px !important;
	border: 4px solid transparent;
	transition: all .1s ease-in;
}

#howToBuy .pre-sale.tab2-services-box {
	border: 4px solid #f8dfbe;
}

#howToBuy .tab2-services-box:hover {
	border: 4px solid #6F3E0F;
    cursor: pointer !important;
}

.social-container {
	top: -100px;
	position: relative;
}

.btn-secondary {
	border-color: #f8dfbe !important;
	color: #f8dfbe !important;
	background-color: transparent !important;
}
.btn-secondary-hover:hover {
	background: #f8dfbe !important;
	border-color: #f8dfbe !important;
	color:#6F3E0F !important;
}

.secondary-text {
	color: #f8dfbe;
	font-size: 14pt;
	font-weight: 400;
	letter-spacing: 2px;
}

.secondary-text-brown {
	letter-spacing: 2px; 
	color: #6F3E0F"
}

.timeline-text {
	color: #f8dfbe;
	font-size: 11pt;
}
.timeline-text li {
	margin-bottom: 6px;
}

