section {
    text-align: center !important;
}

.home-content .home-content__main {
    text-align: center !important;
}

.secondary-title {
    font-weight: 100 !important;
}

.mascot-main {
    width: 40%;
}

.home-content h3 {
    margin-top: 0;
}

.home-content__btn-wrap {
    margin-top: 36px !important;
}

.primary {
    color: #318080 !important;
}
.primary-sm {
    color: #318080 !important;
    font-size: xx-large !important;
}

.secondary {
    color: #6B6B6B !important;
}

.s-header, .s-footer {
    background-color: #318080 !important;
}
.s-header .site-logo {
    width: 45px !important;
    height: 34px !important;
}

/* .header-nav-wrap {
    padding-left: 100px !important;
} */

#platform {
    padding-bottom: 0 !important;
}

#roadmap {
    padding-top: 100px !important;
    /* padding-bottom: 100px !important; */
}


#partners .row.logos {
    margin-bottom: 15% !important;
}
#partners.mobile .row.logos {
    margin-top: 0 !important;
    margin-bottom: 25% !important;
}
#partners.mobile .row .col-block {
    margin-bottom: 8% !important;
}

#parters {
    padding-top: 100px !important;
}

#roadmap .col-block {
    height: 550px;
    line-height: 2;
}

#lionomics {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#about, #lionomics {
    background-color: white !important;
}

.s-features {
    background-color: white !important;
}

#ecosystem, #partners, #platform, #about {
    padding-top: 100px !important;
}

#about-how {
    padding-bottom: 0 !important;
}

#ecosystem .col-block {
    margin-bottom: 20px !important;
}
#roadmap .col-block {
    margin-bottom: 20px !important;
}

/* for RHS text */
#platform .img-text-right .col-block:nth-child(1) {
    width: 33.33% !important;
    margin-bottom: 20px !important;
}
#platform .img-text-right .col-block:nth-child(2) {
    width: 50% !important;
    margin-left: 10% !important;
}
#platform.mobile .img-text-right .col-block {
    width: auto !important;
    margin-left: auto !important;
}
/* for LHS text  */
#platform .img-text-left .col-block:nth-child(1) {
    width: 50% !important;
    margin-right: 10% !important;
}
#platform .img-text-left .col-block:nth-child(2) {
    width: 33.33% !important;
    margin-bottom: 20px !important;
}
#platform.mobile .img-text-left .col-block {
    width: auto !important;
    margin-right: auto !important;
}

.img-text-text {
    text-align: left !important;
}
.mobile .img-text-text {
    text-align: center !important;
}

#roadmap .item-feature__text {
    padding-top: 10% !important;
    padding-left: 10% !important;
}

#partners .logos {
    padding-top: 50px !important;
}

#ecosystem .row img {
    width: 50% !important;
    padding-top: 25% !important;
}
